{% extends 'basse.html' %}
{% block title %}<title>Madrigal HR India - About</title>{% endblock title %}
{% load static %}
{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center"
    style="background-image: url('{% static 'website_hr/img/about-header.jpg' %}');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>About</h2>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>About</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4" data-aos="fade-up">
        <div class="col-lg-4">
          <img src="{% static 'website_hr/img/about.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8">
          <div class="content ps-lg-5">
            <h3>Transforming Businesses with Expert Recruitment and HR Solutions</h3>
            <p>
              Madrigal Corporate Solutions was started way back in 2010 and we have grown since then. We are now a trusted and reliable name amongst the industrial spectrum in Goa, as well as other states in India. Most of our clients have been with us since inception, and we are preferred by clients due to efficient and dependable action.        
              <br><br>Madrigal Corporate Solutions endeavors to create a niche in the Indian Market, providing client services with honesty and integrity. To be preferred by clients due to efficient and dependable action. We follow a strict code of ethics and industry standard practices, and prioritizes the interest of the client and candidates.Madrigal Corporate Solutions has been providing talent to different sectors which include Pharmaceuticals, Manufacturing, IT, services and retail sectors. The client base has spread across Goa as well as some regions in India as well.
            </p>
            {% comment %} <ul> 
              <li><i class="bi bi-check-circle-fill"></i>EXPERTISE</li>
              <li><i class="bi bi-check-circle-fill"></i> PERSONALISATION
              </li>
              <li><i class="bi bi-check-circle-fill"></i> PARTNERSHIP</li>
            </ul>{% endcomment %}
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Why Choose Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-header" id="why-us-heading">
          <h2>Why Choose Us</h2>

        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-5 img-bg" style="background-image: url('{% static 'website_hr/img/why-us-bg.jpg' %}')"></div>
          <div class="col-xl-7 slides  position-relative">

            <div class="slides-1 swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Right Candidate for the Right Job
                    </h3>
                    {% comment %} <h4 class="mb-3">"Our recruiters have a deep understanding of the job market and can help you find opportunities that align with your skills and career goals."</h4> {% endcomment %}
                    <p>We, at Madrigal Corporate Solutions, believe in finding the right candidate
                      for the right kind of job. We help you to develop your business by
                      providing resources that raise the quality, productivity and efficiency of
                      your total workforce. Making sure that your company has the right people
                      for the job could mean the difference between success and failure. 
                      </p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Values and Vision
                    </h3>
                    {% comment %} <h4 class="mb-3">"We take the time to understand your skills, experience, and career goals so we can match you with the right opportunities."</h4> {% endcomment %}
                    <p>Madrigal Corporate Solutions is recognized for its commitment, integrity,
                      dedicated timelines and professional support. We focus on our Values of Honesty, Commitment, and Open Communication.  We try and use stringent screening methods to assess not only the Job knowledge of candidates but also assess ethical and loyalty values of the candidates we represent.
                      </p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Finding the right path
                    </h3>
                    {% comment %} <h4 class="mb-3">"We're committed to helping you succeed in your career, and we'll be there for you every step of the way."</h4> {% endcomment %}
                    <p>We endeavor to find the right avenue for every aspirant. We believe in finding a career that does justice to the Aspirant's capability rather than just finding a means of livelihood. Finding a career that one is passionate about, is crucial to ones mental and emotional well being. This is the main focus when we counsel and place Aspirants.</p>
                  </div>
                </div><!-- End slide item -->

            

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>
    </section><!-- End Why Choose Us Section -->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Reviews</h2>

    </div>

    <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="profile mt-auto">
              <img src="{% static 'website_hr/img/review1.jpg' %}" class="testimonial-img" alt="">
              <h3>Terry Davis</h3>
              <h4>God's own programmer</h4>
            </div>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> 
                <i class="bi bi-star-fill"></i> <i class="bi bi-star-half"></i>
            </div>
            <p align="left">
             the voices won't stop
            </p>
            
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="profile mt-auto">
              <img src="{% static 'website_hr/img/review2.jpg' %}" class="testimonial-img" alt="">
              <h3>Jimmy McGill</h3>
            </div>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> 
            </div>
            <p align="left">
              Madrigal corporate solutions have been my hiring partners a couple of years now. Value as a client was established early on, what continues to grow is the flexibility, the need to continually understand the roles better so pre-screening Gets stronger. They’ve helped me with candidates that cover IT, construction, hospitality, Office teams, FMCG, and I’m sure will be willing to take on the next I industry I bring to them. Definitely appreciate the support!
            </p>
            
          </div>
        </div>
      <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="profile mt-auto">
              <img src="{% static 'website_hr/img/review3.png' %}" class="testimonial-img" alt="">
              <h3>Walter White</h3>
              <h4>Local guide</h4>
            </div>
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p align="left">
              Madrigal Corporate Solutions really cares for you and your career interests. They are always so compassionate and work towards providing you with the right job. This is your only stop for career placements without a shadow of doubt!
            </p>
          </div>
        </div><!-- End testimonial item -->


      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

  <div id="google-reviews"></div>
  <link rel="stylesheet" href="https://cdn.rawgit.com/stevenmonson/googleReviews/master/google-places.css">

  <script src="https://cdn.jsdelivr.net/gh/stevenmonson/googleReviews@6e8f0d794393ec657dab69eb1421f3a60add23ef/google-places.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDeivU57j-macv2fXXgbhKGM6cqMLmnAFI&signed_in=true&libraries=places"></script>

  <script>
  $(document).ready(function(e) {
    $("#google-reviews").googlePlaces({
          placeId: 'ChIJOee_2uXqvzsRGlzKYXequuM' //Find placeID @: https://developers.google.com/places/place-id
        , render: ['reviews']
        , min_rating: 4
        , max_rows:4
    });
  });
  </script>
<!-- End testimonial item -->
</section><!-- End Testimonials Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Team</h2>

      </div>

      <div class="row gy-4 justify-content-center">

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <div class="member-img">
              <img src="{%static 'website_hr/img/bfe.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Mike Ehrmantraut</h4>
              <span>Security Consultant</span>
            </div>
          </div>
        </div><!-- End Team Member -->


      </div>

    </div>
  </section><!-- End Team Section -->

</main><!-- End #main -->



{% endblock content %}