<!DOCTYPE html>

{%  load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% block title %}<title>Aspire HR India</title>{% endblock title %}
  <meta content="" name="description">
  <meta content="" name="keywords">

  

  <!-- Favicons -->
  <link href="{% static 'website_hr/img/favicon.png' %}" rel="icon">
  <link href="{% static 'website_hr/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


  <link href="{% static 'website_hr/owl/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'website_hr/pwl/owl.transitions.css' %}" rel="stylesheet">
  <link href="{% static 'website_hr/pwl/owl.theme.css' %}" rel="stylesheet">


  
  <!-- Vendor CSS Files -->
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

  {% comment %} <link href="{% static 'website_hr/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> {% endcomment %}
  <link href="{% static 'website_hr/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'website_hr/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'website_hr/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'website_hr/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'website_hr/vendor/remixicon/remixicon.css' %}" rel="stylesheet">


  <script src="https://unpkg.com/@babel/polyfill@7.6.0/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<!-- semantic CSS Files -->
<script type="text/javascript" src="/bower_components/semantic-ui-calendar/dist/calendar.min.js"></script>
<link rel="stylesheet" href="/bower_components/semantic-ui-calendar/dist/calendar.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{% static 'admin_panel/css/semantic.min.css' %}">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="{% static 'website_hr/semantic/semantic.min.js' %}"></script>
<script src="{% static 'website_hr/semantic/dropdown.js' %}"></script>
<script src="{% static 'website_hr/semantic/input.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>


  <!-- Template Main CSS File -->
  <link href="{% static 'website_hr/css/main.css' %}" rel="stylesheet">

  {% block css_addon %}
  
  {% endblock css_addon %}
  <!-- <link href="{% static 'admin_panel/css/demo.css' %}" rel="stylesheet">
  <link href="{% static 'admin_panel/vendor/css/core.css' %}" rel="stylesheet">
  <link href="{% static 'admin_panel/vendor/css/theme-default.css' %}" rel="stylesheet"> -->

  <!-- Toastr -->
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'website_hr/css/toastr.min.css' %}" media="all">
  <script type="text/javascript" src="{% static 'website_hr/js/toastr.js' %}"></script>  

</head>

<body class="page-index">

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center {% block ifsticky %}fixed-top{% endblock ifsticky %}">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
        <a href="{% url 'home' %}" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="static/website_hr/img/logo.svg" alt=""> -->
          <img src="{% static 'website_hr/img/aspirefont.png' %}" href="{% url 'home' %}" alt="">
          
        </a>
  
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="{% url 'home' %}" class="{% if nbar == 'home' %}active{% endif %}">Home</a></li>
            <li><a href="{% url 'about' %}" class="{% if nbar == 'about' %}active{% endif %}">About</a></li>
            <li><a href="{% url 'jobs' %}" class="{% if nbar == 'jobs' %}active{% endif %}">Jobs</a></li>
            <li class="dropdown"><a class="{% if nbar == 'services' %}active{% endif %}" href="{% url 'services' %}"><span>Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
               
                <li><a href="{% url 'service1' %}">Recruitment & Selection</a></li>
                <li><a href="{% url 'service2' %}">Assessment & Training</a></li>
                <li><a href="{% url 'service3' %}">Organisational Mapping & Structure</a></li>
                <li><a href="{% url 'service4' %}">Salary Survey</a></li>
                <li><a href="{% url 'service5' %}">Career Counselling</a></li>
              </ul>
            </li>
            <li><a href="{% url 'blogs' %}" class="{% if nbar == 'blog' %}active{% endif %}">Blogs</a></li>
            <li><a href="{% url 'resume_builder' %}" class="{% if nbar == 'resumeBuilder' %}active{% endif %}">Resume Builder</a></li>
            <li><a href="{% url 'contact' %}" class="{% if nbar == 'contact' %}active{% endif %}">Contact</a></li>
           
           
            {%if request.user.is_staff or request.user.is_superuser%}
            <li class="dropdown"><a href="{% url 'admin_home' %}" class="{% if nbar == 'Profile' %}active{% endif %}"><span><i class="bi bi-person" style="font-size:20px;"></i>&nbsp;Admin</span><i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
              <li><a href="{% url 'user_logout' %}" class="{% if nbar == 'Profile' %}active{% endif %}"><span>&nbsp;Logout</span></a></li>
              </ul>
            </li>
            {% elif request.user.is_authenticated %}
            <li class="dropdown"><a href="{% url 'profile' %}" class="{% if nbar == 'Profile' %}active{% endif %}"><span><i class="bi bi-person" style="font-size:20px;"></i>&nbsp;{{request.user.first_name}}</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="{% url 'profile' %}" class="{% if nbar == 'Profile' %}active{% endif %}"><span>&nbsp;Profile</span></a></li>
                <li><a href="{% url 'user_logout' %}" class="{% if nbar == 'Profile' %}active{% endif %}"><span>&nbsp;Logout</span></a></li>
                </ul>
            </li>

            {% else %}
            <li><a href="{% url 'user_login' %}" class="{% if nbar == 'Profile' %}active{% endif %}"><span><i class="bi bi-person" style="font-size:20px;"></i>&nbsp;Login</span></a></li>
            {% endif %}
            
            


           
          </ul>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->
    
    <!-- Messages/Toast Start -->
    {% if messages %}
        {% for message in messages %}
          
              <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        
        {% endfor %}
    {% endif %}
    <!-- Messages/Toast end -->

{%  block content %}
Error!
{% endblock content %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="{% url 'home' %}" class="logo align-items-center">
              <h2 style="padding-bottom: 10px;">Aspire Corporate Solutions</h2>
              
            </a>
            <p>We are a recruitment Agency based in Goa, and handle recruitment for companies across India. </p>
            <div class="social-links d-flex  mt-3">

              <a href="https://in.linkedin.com/company/aspirecorporatesolutions-jobs?original_referer=https%3A%2F%2Fwww.google.com%2F" class="ui inverted violet button"><i class="bi bi-linkedin"></i></a>
              <a href="https://www.facebook.com/aspirecorporate/" class="ui inverted violet button"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/aspire_corporate_solutions?igshid=NmE0MzVhZDY=" class="ui inverted violet button"><i class="bi bi-instagram"></i></a>
              
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="{% url 'home' %}" >Home</a></li>
              <li><i class="bi bi-dash"></i> <a href="{% url 'about' %}" >About us</a></li>
              <li><i class="bi bi-dash"></i> <a href="{% url 'services' %}" >Services</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="{% url 'service1' %}" >Recruitment & Selection</a></li>
              <li><i class="bi bi-dash"></i> <a href="{% url 'service2' %}" >Assessment & Training</a></li>
              <li><i class="bi bi-dash"></i> <a href="{% url 'service3' %}" >Organisational Mapping</a></li>
              <li><i class="bi bi-dash"></i> <a href="{% url 'service4' %}" >Salary Survey</a></li>
              <li><i class="bi bi-dash"></i> <a href="{% url 'service5' %}" >Career Counselling</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start" id="footercontact">
            <h4 id="contpadding">Contact Us</h4>
            <p>
              Fortune Square 2nd Floor,<br>
              203 Above HDFC Bank Morod Mapusa,<br>
              Bardez Goa<br><br>
              <strong>Phone:</strong> 91-7030222765 / 91-7796520001<br>
              <strong>Email:</strong> <a href="mailto: aspire.cos@gmail.com " style="color:black">aspire.cos@gmail.com</a> <br>
            </p>

          </div>

        </div>
      </div>
    </div>

    {% comment %} <div class="footer-legal"> 
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span> <a href="http://aspirehrindia.com/">Aspire Corporate Solutions - 2022</a></span></strong>. All Rights Reserved.
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->{% endcomment %}


  <!--scroll top -->
  <a href="#" class="scroll-top  d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short "></i>
  </a>
  <!------------>


<!---chatbot-->



  <link href="{% static 'website_hr/bot/css/bot.css' %}" rel="stylesheet">
  <link href="{% static 'website_hr/bot/css/chatbot.css' %}" rel="stylesheet">
 
  <link href="{% static 'website_hr/bot/css/popup.css' %}" rel="stylesheet">
  
  <button class="chat-open-dialog">
   <span class="bi bi-chat"></span>
  </button>

  <button class="chat-button-destroy">
    <span class="bi bi-chat"></span>
  </button>

  <div class="chat-popup" id="bot-container">
  <header class="bg-primary"style=''>
    <div class="row">
      <div class="col-3"></div>
      <h2 class="col-md-12 text-center mb-2" style='color:white;'><i class="bi bi-chat"></i>&nbsp;Ask Aspire</h2>
    </div></header>
    <div id="bot-inner">
 
      <div id="bot"></div>
    </div>
  </div>
  <script type="text/babel" data-presets="es2015,es2016,es2017" src="{% static 'website_hr/bot/js/conversation.js' %}"></script>
 <script type="text/babel" data-presets="es2015,es2016,es2017" src="{% static 'website_hr/bot/js/bot.js' %}"></script>
  


 
  <script type="text/javascript">
    $(function () {
      $(".chat-open-dialog").click(function () {
        $(this).toggleClass("active");
        $(".chat-popup").toggleClass("active");
        $(".chat-button-destroy").toggleClass("active");
      });
    });

    $(function () {
      $(".chat-button-start").click(function () {
        $(this).toggleClass("active");
        $(".chat-popup").toggleClass("chat-init");
      });
    });

    $(function () {
      $(".chat-button-destroy").click(function () {
        $(".chat-popup").removeClass("active");
        $(".chat-open-dialog").removeClass("active");
        $(this).removeClass("active");
      });
    });
  </script>
<!--end chatbot-->







  <div id="preloader"></div>

  <!-- Formset JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"
  integrity="sha512-ltwjKsDTo3hW/wV66ZaEkf2wOAFxmg7rWM76J8kOcYKLSKy44WBYO/BFaNNH3NGDS8BSz3meB9wtSnm41oL+pA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Vendor JS Files -->
   <!-- build:js assets/vendor/js/core.js -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  {% comment %} <script src="{% static 'website_hr/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> {% endcomment %}
  <script src="{% static 'website_hr/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'website_hr/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'website_hr/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'website_hr/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  {% comment %} <script src="{% static 'website_hr/vendor/php-email-form/validate.js' %}"></script> {% endcomment %}


  <script src="{% static 'website_hr/owl/owl.carousel.js' %}"></script>
  <script src="{% static 'website_hr/owl/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'website_hr/js/main.js' %}"></script>

  {% block page_js %}
  {% endblock page_js %}


</body>

</html>

