{% extends 'base.html' %}
{% block title %}<title>Aspire HR India - About</title>{% endblock title %}
{% load static %}
{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image:
    url('{% static 'website_hr/img/contact-header.jpg' %}');">
    <div class="container position-relative d-flex flex-column
      align-items-center">

      <h2>Contact</h2>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Contact</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container position-relative" data-aos="fade-up">

      <div class="row gy-4 d-flex justify-content-end">

        <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">

          <div class="info-item d-flex">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h4>Location:</h4>
              <p>Fortune Square 2nd Floor,<br>
                203 Above HDFC Bank Morod Mapusa,<br>
                Bardez Goa</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h4>Email:</h4>
              <p>aspire.cos@gmail.com</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex">
            <i class="bi bi-phone flex-shrink-0"></i>
            <div>
              <h4>Call:</h4>
              <p>91-7030222765 \ 91-7796520001</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">


         
          <form method="post" class='email-form' id="contact-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>

              <div class="error-message">
                  <div class="row">
                      <div class="col-sm-11" style="font-size: 0.927rem;">Oops! There was an issue. Please mail us at
                        aspire.cos@gmail.com
                      </div>
                      <div class="col-sm-1 text-right">
                          <button type="button" class="btn-close btn-close-white" aria-label="Close" id="closeBtnError"></button>
                      </div>
                  </div>
              </div>


              <div class="sent-message">
                  <div class="row">
                      <div class="col-sm-11">
                          Your message has been sent, we will get back to you. Thank you!
                      </div>
                      <div class="col-sm-1 text-right">
                          <button type="button" class="btn-close btn-close-white" aria-label="Close" id="closeBtn"></button>
                      </div>
                  </div>
              </div>

              <button class="ui inverted violet button w-100 py-3" type="submit">Send Message</button>


          </div>

          </form>


        </div><!-- End Contact Form -->

      </div>

    </div>



    <!-- new Form -->


  </section><!-- End Contact Section -->

</main><!-- End #main -->


  <script type="text/javascript">
    // Ajax
$(document).on('submit', '#contact-form', function (e) {
  e.preventDefault();
  $('.loading').addClass("d-block")

  $.ajax({
      type: 'POST',
      url: '{% url "contact" %}',
      data: {
          name: $('#name').val(),
          email: $('#email').val(),
          subject: $('#subject').val(),
          message: $('#message').val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
      },
      success: function (data) {
          $('#name').val('');
          $('#email').val('');
          $('#subject').val('');
          $('#message').val('');
          $(".sent-message").addClass("d-block")

      },
      error: function (data) {
          $(".error-message").addClass("d-block")
          $('.loading').removeClass("d-block")
      },
  }).done((response) => {
      $('.loading').removeClass("d-block")
  })
})

$(document).ready(function () {
  // Set div display to none
  $("#closeBtn").click(function () {
      // $("#closeBtn").css("display", "none");
      $(".sent-message").removeClass("d-block")
      
  });

  $("#closeBtnError").click(function () {
      // $("#closeBtn").css("display", "none");
      $(".error-message").removeClass("d-block")
  });

});
</script>
<div class="container">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15372.484127309976!2d73.8118547!3d15.585181!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfeae5dabfe739%3A0xe3baaa7761ca5c1a!2sAspire%20Corporate%20Solutions%20Recruitment%20And%20HR!5e0!3m2!1sen!2sin!4v1679838761377!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<br>

{% endblock content %}