{% extends 'basse.html' %}
{% block title %}<title>Madrigal Corporate Solutions - Home</title>{% endblock title %}
{% load static %}
{% block content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">Madrigal Corporate Solutions</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>We are a reliable name in the placement industry with a database of thousands of candidates at post graduate level possessing degrees as well as diploma, fresher’s as well as experienced.</p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#about" class="btn-get-started">Get Started</a>
           
          </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Why Choose Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-header" id="why-us-heading">
          <h2>Why Choose Us</h2>

        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-5 img-bg" style="background-image: url('{% static 'website_hr/img/why-us-bg.jpg' %}')"></div>
          <div class="col-xl-7 slides  position-relative">

            <div class="slides-1 swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Right Candidate for the Right Job
                    </h3>
                    {% comment %} <h4 class="mb-3">"Our recruiters have a deep understanding of the job market and can help you find opportunities that align with your skills and career goals."</h4> {% endcomment %}
                    <p>We, at Madrigal Corporate Solutions, believe in finding the right candidate
                      for the right kind of job. We help you to develop your business by
                      providing resources that raise the quality, productivity and efficiency of
                      your total workforce. Making sure that your company has the right people
                      for the job could mean the difference between success and failure. 
                      </p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Values and Vision
                    </h3>
                    {% comment %} <h4 class="mb-3">"We take the time to understand your skills, experience, and career goals so we can match you with the right opportunities."</h4> {% endcomment %}
                    <p>Madrigal Corporate Solutions is recognized for its commitment, integrity,
                      dedicated timelines and professional support. We focus on our Values of Honesty, Commitment, and Open Communication.  We try and use stringent screening methods to assess not only the Job knowledge of candidates but also assess ethical and loyalty values of the candidates we represent.
                      </p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Finding the right path
                    </h3>
                    {% comment %} <h4 class="mb-3">"We're committed to helping you succeed in your career, and we'll be there for you every step of the way."</h4> {% endcomment %}
                    <p>We endeavor to find the right avenue for every aspirant. We believe in finding a career that does justice to the Aspirant's capability rather than just finding a means of livelihood. Finding a career that one is passionate about, is crucial to ones mental and emotional well being. This is the main focus when we counsel and place Aspirants.</p>
                  </div>
                </div><!-- End slide item -->

            

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>
    </section><!-- End Why Choose Us Section -->


     <!-- ======= Call To Action Section ======= -->
     <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h3>Looking for a Job?</h3>
            <p>"Choose a job you like, and you will never work a day in your life"</p>
            <a class="cta-btn" href="{% url 'jobs' %}">Get Started</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Services</h2>

      </div>

      <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          
          <!-- start testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              
              <img src="{% static 'website_hr/img/cards-4.jpg' %}"  alt="">
              <a href="{% url 'service5' %}"> <h3>Career Counselling</h3></a>
              <div class="profile mt-auto">
                
              </div>
            </div>
          </div><!-- End testimonial item -->

       <!-- start testimonial item -->
       <div class="swiper-slide">
        <div class="testimonial-item">
          
          <img src="{% static 'website_hr/img/cards-1.jpg' %}"  alt="">
          <a href="{% url 'service1' %}"> <h3>Recruitment & Selection</h3></a>
          <div class="profile mt-auto">
            
          </div>
        </div>
      </div><!-- End testimonial item -->

          <!-- start testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              
              <img src="{% static 'website_hr/img/cards-2.jpg' %}"  alt="">
              <a href="{% url 'service2' %}"> <h3>Assessment & Training</h3></a>
              <div class="profile mt-auto">
                
              </div>
            </div>
          </div><!-- End testimonial item -->

          <!-- start testimonial item -->
          <div class="swiper-slide">
            <div class="testimonial-item">
              
              <img src="{% static 'website_hr/img/cards-3.jpg' %}"  alt="">
              <a href="{% url 'service3' %}"> <h3>Organisational Mapping & Structure</h3></a>
              <div class="profile mt-auto">
                
              </div>
            </div>
          </div><!-- End testimonial item -->

         <!-- start testimonial item -->
         <div class="swiper-slide">
          <div class="testimonial-item">
            
            <img src="{% static 'website_hr/img/cards-5.jpg' %}"  alt="">
            <a href="{% url 'service4' %}"> <h3>Salary Survey</h3></a>
            <div class="profile mt-auto">
              
            </div>
          </div>
        </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

    <div id="google-reviews"></div>
    <link rel="stylesheet" href="https://cdn.rawgit.com/stevenmonson/googleReviews/master/google-places.css">

    <script src="https://cdn.jsdelivr.net/gh/stevenmonson/googleReviews@6e8f0d794393ec657dab69eb1421f3a60add23ef/google-places.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDeivU57j-macv2fXXgbhKGM6cqMLmnAFI&signed_in=true&libraries=places"></script>

    <script>
    $(document).ready(function(e) {
      $("#google-reviews").googlePlaces({
            placeId: 'ChIJOee_2uXqvzsRGlzKYXequuM' //Find placeID @: https://developers.google.com/places/place-id
          , render: ['reviews']
          , min_rating: 4
          , max_rows:4
      });
    });
    </script>
<!-- End testimonial item -->
  </section><!-- End Testimonials Section -->
    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Recent Blog Posts</h2>

        </div>

        <div class="row gy-5">
          {% if blog %}
          {% for blog in blog %}
          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="post-box">
              <div class="post-img"><img src="{{blog.banner.url}}" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">{{blog.created_on|date}}</</span>
                <span class="post-author"> {{blog.author}}</span>
              </div>
              <h3 class="post-title">{{blog.title}}</h3>
              <p>     {{blog.blog_desc}}</p>
              <a href="{% url 'blogDetails' blog.slug %}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <h2 class='text-center'>There are no Blogs Posted yet. Come back later.</h2>
          {% endif %}
      

         

   

        </div>

      </div>
    </section><!-- End Recent Blog Posts Section -->

  </main><!-- End #main -->

  <script>var owl;
$(document).ready(function(){
  owl = $(".owl-carousel").owlCarousel({
    itemsMobile: false,
    autoplay: true,
    autoplaySpeed: 300,
    navSpeed: 300,
    items: 3,
    loop: true,
    margin: 2,
    responsiveClass:true,
    responsive:{
        0:{
            items:2,
            nav:true
        },
        580:{
            items:2,
            nav:false
        },
        960:{
            items:3,
            nav:true
        }
    }
  });
});</script>

{% endblock content %}
