{%extends 'auth_base.html'%}
{% load static %}
{% block title %}Reset Password{% endblock title %}

{%block content%}

<style>
	#logo{
	  position:absolute;
  left:0;
  top:0;
  width: 300px;
  height: 300px;
	}
  </style>
  
	  <!-- Content -->
	  <img src="{% static 'website_hr/img/logo.svg' %}" id="logo" alt=""  >

{% if form %}
<div class="container-xxl" style="padding:0;">
	<div class="authentication-wrapper authentication-basic container-p-y">
	  <div class="authentication-inner">
		<div class="card" >
		  <div class="card-body">  

        <form method="post" class='needs-validation'
        oninput='id_new_password2.setCustomValidity(id_new_password2.value != id_new_password1.value ? "Passwords do not match." : "")'
        novalidate>
            {% csrf_token %}
				<h2 class="mb-2" style="font-weight:bold;" >Reset Password</h2>
            <br>
            
            <div>

              <div class="form-group mb-3 form-password-toggle">
                <label class="form-label" for="password">{{form.new_password1.label_tag}}</label>
                <div class="input-group input-group-merge">
                  {{form.new_password1}}
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  <div class="invalid-feedback">
                    Pleae enter Password
                  </div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="password">{{form.new_password2.label_tag}}</label>
                <div class="input-group">
                  {{form.new_password2}}
                 
                  <div class="invalid-feedback">
                    Password does not match.
                  </div>
                </div>
              </div>
			  <br>
              <button type="submit" class="bton btn-primary d-grid w-100">Reset Password</button>
            </div>
          </form>
		</div>
    </div>
 </div>
</div>

{% else %}
<div class="container-xxl" style="padding:0;">
	<div class="authentication-wrapper authentication-basic container-p-y">
	  {% comment %} <div class="authentication-inner"> {% endcomment %}
		<div class="card" >
		  <div class="card-body">

	<h3>This Link has expired! Please refer to the new link in your E-Mail...</h3>

</div>
</div>
</div>
</div>

{% endif %}





{%endblock content%}
