{%extends 'auth_base.html'%}
{% load static %}
{% block title %}Login{% endblock title %}

{%block content%}
<style>
	#logo{
	  position:absolute;
  left:0;
  top:0;
  width: 300px;
  height: 300px;
	}
  </style>
  
	  <!-- Content -->
	  <img src="{% static 'website_hr/img/logo.svg' %}" id="logo" alt=""  >
	  
<div class="card center">
	

<div class="container-xxl" style="padding:0;">
	<div class="authentication-wrapper authentication-basic container-p-y">
	  {% comment %} <div class="authentication-inner"> {% endcomment %}
		<div class="card" >
		  <div class="card-body">

	<h3>Your password has been changed successfully. Please <a href="{% url 'user_login' %}">Login</a></h3>
</div>
</div>
</div>
</div>
</div>
 	
{%endblock content%}