{% extends "auth_base.html" %}
{% load static %}
{% block title %}Privacy Policy{% endblock title %}
{% block content %}
  

    <center><h2>PRIVACY POLICY</H2></center>
        <p>At <strong>Aspire Corporate Solutions</strong>, we are committed to protecting the privacy and security of our customers and users. This Privacy Policy outlines how we collect, use, and share your personal information when you use our website and services.</p>
   
        
        <H4>Collection of Personal Information</H4>
        <p>We collect personal information from you when you visit our website, create an account, or contact us for customer support. The personal information we collect may include your name, email address and phone number.</p>
        
        <H4>1.Use of Personal Information</H4>
        <p>We use your personal information to provide you with our services, and respond to your inquiries and requests.
        
        <H4>2.Sharing of Personal Information</H4>
        <p>We do not sell, trade, or rent your personal information to third parties. However, we may share your personal information with trusted third-party service providers who assist us in providing our products and services, We may also disclose your personal information if required by law or in response to a court order or subpoena.</p>
        
        <H4>3.Security of Personal Information</H4>
        <p>We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. We use industry-standard encryption technologies to secure your sensitive information.</p>
        
        <H4>4.Cookies</H4>
        <p>We use cookies to enhance your experience on our website. A cookie is a small text file that is placed on your device when you visit our website. Cookies allow us to remember your preferences, analyze our website traffic, and personalize your experience. You can control the use of cookies on our website through your browser settings.</p>
        
        <H4>Changes to this Privacy Policy</H4>
        <p>We may update this Privacy Policy from time to time. If we make any material changes to this Privacy Policy, we will notify you by email or by posting a notice on our website.</p>
        
        <H4>Contact Us</H4>
        <p>If you have any questions or concerns about this Privacy Policy, please contact us at <a href="mailto: aspire.cos@gmail.com">aspire.cos@gmail.com</a></p>
</div>


    {% endblock content %}